<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709432658335-eil86n215bqm1fp42eq27gauua56ce4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709432658335-eil86n215bqm1fp42eq27gauua56ce4p</string>
	<key>API_KEY</key>
	<string>AIzaSyBACpibwNdgSMzGlMOk7TMD4_-M25QQ3D8</string>
	<key>GCM_SENDER_ID</key>
	<string>709432658335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gg.push</string>
	<key>PROJECT_ID</key>
	<string>pushgg-9f74a</string>
	<key>STORAGE_BUCKET</key>
	<string>pushgg-9f74a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709432658335:ios:989ed11ec0fdda45</string>
	<key>DATABASE_URL</key>
	<string>https://pushgg-9f74a.firebaseio.com</string>
</dict>
</plist>